# Node artifact files
node_modules/
front/node_modules
dist/

# Log files
*.log

# JetBrains IDE
.idea/
front/.angular/
front/.editorconfig
front/.vscode/

# MAC
.DS_Store
front/.DS_Store

# Environnement variable
.env