<!-- La liste des playlists -->
<section class="playlist">
    <div class="row">
        <article class="col-3 mb-3" *ngFor="let playlist of listePlaylist">
            <a class="playlist_lien" href="#" target="_blank">
                <div class="playlist_img_container">
                    <figure class="playlist_img">
                        <img class="absolute-bg" src="{{ playlist.photoCouverture }}"
                            alt="" />
                    </figure>
                </div>
                <div class="playlist_text">
                    <h3 class="playlist_title">{{ playlist.nom }}
                    </h3>
                    <span class="playlist_position">{{ playlist.nomCreateur }}</span>
                </div>
            </a>
        </article>
    </div>
</section>