<div class="container">
    <div class="justify-content-center">
        <div class="mt-5">
            <h1>
                Hey <b>{{ this.user.pseudo }} </b> !
            </h1>

            <div *ngIf="listePlaylist && listePlaylist.length > 0">
                <h1 class="mt-5">
                    Voici tes playlists
                </h1>
                <!-- La liste des playlists -->
                <section class="playlist">

                    <div class="container mb-5">

                        <div class="row">

                            <div class="col-10">
                                <input class="form-control" type="text" placeholder="Chercher une playlist"
                                    [(ngModel)]="playlistFilter">
                            </div>

                            <div class="col-2">
                                <img class="mx-2 icon-filter" (click)="trierAlphabetique()"
                                    src="./assets/icon/trier.png">
                                <img class="mx-2 icon-filter" (click)="trierAlphabetique()"
                                    src="./assets/icon/categories.png">
                                <img class="mx-2 icon-filter" (click)="trierNombreClics()" style="filter: invert(0%);"
                                    src="./assets/icon/click.png">
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <article class="col-3 mb-3" *ngFor="let playlist of filteredListePlaylist">
                            <a class="playlist_lien" routerLink="voir/{{ playlist.idPlaylist }}">
                                <div class="playlist_img_container">
                                    <figure class="playlist_img">
                                        <img class="absolute-bg" src="{{ playlist.photoCouverture }}" alt="" />
                                    </figure>
                                </div>
                                <div class="playlist_text">
                                    <h3 class="playlist_title">{{ playlist.nomPlaylist }}
                                    </h3>
                                    <span class="playlist_position">{{ playlist.createur.pseudo }} |
                                        {{playlist.styleMusique}} |
                                        {{playlist.nombreClics}}</span>
                                </div>
                            </a>
                        </article>
                    </div>
                </section>
            </div>


            <div *ngIf="!listePlaylist || listePlaylist.length == 0">
                <h1 class="mt-5">Tu n'as aucun playlist... dommage</h1>
                <div class="alert alert-warning" role="alert">
                    Tu peux tester avec l'utilisateur (qui a toutes les playlists) : Antho / 123
                </div>
            </div>
        </div>
    </div>
</div>