<div class="container">
    <div class="row">
        <div class="col-2">
            <img class="image-couverture" src="{{ playlist.photoCouverture }}" />
        </div>
        <div class="col-10">
            <h1 class="ms-3">{{ playlist.nomPlaylist }}</h1>
            <h5 class="ms-3">Contributeurs : {{ playlist.contributeurs }} </h5>
            <h5 class="ms-3">Créateur : {{ playlist.nomCreateur }} </h5>
            <h5 class="ms-3">Style : {{ playlist.styleMusique }} </h5>

            <h5 class="ms-3"><img height="20px" src="./assets/icon/click.png" alt=""> {{ playlist.nombreClics }} </h5>
        </div>

        <div class="mt-5">



        </div>

    </div>
</div>
<div class="container mt-5">
    <article class="card bg-dark m-3" *ngFor="let morceau of morceaux, let i=index">
        <div class="row">
            <div class="col-2">
                <img class="image-couverture m-2" style="width: 75px; height: 75px" src="{{ playlist.photoCouverture }}" />
            </div>
            <div class="col-1 d-flex">
                <p class="m-2 my-auto">{{morceau.idMorceau}}</p>
            </div>
            <div class="col-2 d-flex">
                <p class="m-2 my-auto">{{morceau.titre}}</p>
            </div>
            <div class="col-2 d-flex">
                <p class="m-2 my-auto">{{morceau.nomArtiste}}</p>
            </div>
            <div class="col-2 d-flex mx-5">
                <img src="assets/icon/effacer.png" class="my-auto" width="30px" height="30px" style="cursor:pointer;">
            </div>
        </div>
    </article>

</div>