<div class="container">
    <div class="row">
        <div class="col-2">
            <img class="image-couverture" src="{{ playlist.photoCouverture }}" />
        </div>
        <div class="col-10">
            <h1 class="ms-3">{{ playlist.nomPlaylist }}</h1>
            <h5 class="ms-3">Contributeurs : {{ playlist.contributeurs }} </h5>
            <h5 class="ms-3">Créateur : {{ playlist.nomCreateur }} </h5>
            <h5 class="ms-3">Style : {{ playlist.styleMusique }} </h5>

            <h5 class="ms-3"><img height="20px" src="./assets/icon/click.png" alt=""> {{ playlist.nombreClics }} </h5>
        </div>

        <div class="mt-5">



        </div>

    </div>
</div>
